div.setting-container {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

div.setting-icon {
	-webkit-mask-image: url(../images/accessories/icon-setting.svg);
	-webkit-mask-size: 19px;
	-webkit-mask-repeat: no-repeat;
	background: #7b7b7b;
	padding: 9px;
	cursor: pointer;
	margin: 0 0 0 5px;
	position: fixed;
	bottom: 10px;
}

div.setting-icon:hover {
	transform: scale(1.1);
}

div.setting-icon.rotate {
	transform: rotate(85deg);
}

div.setting-area {
	height: 486px;
	width: 575px;
	background: #ffffff;
	position: absolute;
	bottom: 27px;
	border-radius: 7px;
	z-index: 1000;
	display: flex;
	padding: 12px;
	transform: translateY(0px);
}

div.setting-area::after {
	content: '';
	position: absolute;
	height: 10px;
	width: 10px;
	transform: rotate(45deg);
	background: #ffffff;
	bottom: -4px;
	left: 9px;
}

div.setting-area.none {
	transform: translateY(10px);
	opacity: 0;
}

ul.classify-area {
	width: 30%;
	height: 100%;
}

ul.classify-area li {
	color: #575757;
	list-style: none;
	font-size: 20px;
	padding: 0px 0px 0px 5px;
	cursor: pointer;
	font-weight: 300;
}

ul.classify-area li:hover {
	color: #000000;
}

ul.classify-area li.selected {
	font-weight: 600;
	color: #000000 !important;
}

div.border {
	width: 0.1%;
	background: #000000;
}

div.more-options {
	width: 70%;
	height: 100%;
}
